.header {
  min-height: 1000px;
  width: 100%;
  background-image: url(../../images/header-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
