.header__logo-button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 36px;
}

.header__logo-button:last-of-type {
  margin-right: 0;
}

.header__logo-button:hover {
  opacity: 0.6;
  transition: opacity 1s linear 0.5s;
}
