.header__ask-panel {
  background-image: url(../../../images/header-rectangle.png);
  min-height: 369px;
  max-width: 624px;
  width: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: absolute;
  top: 631px;
  left: 967px;
}
